<% include ../partials/header %>
    <h1><%= hotel.name %></h1>
    <a href="/hotel/add/<%= hotel._id %>"><button>add room</button></a>
    
    <a href="/hotel/confirm/<%= hotel._id %>"><button>complete process</button></a>
    
    
    <div>
        <h1>Recommendations</h1>
        <p>Max hotel visitors on our website <b><%= maxhotelvisitors %></b></p>
        <p>Most desired hotel on our website <b><%= desired %></b></p>
    </div>
    
    <h3>Information about customers</h3>
    <div class="flex">
    <div class="item">
        People visited:<br>
        <% for (i = 0; i < hotel.visitors.length; i++) { %>
            <p><%= hotel.visitors[i].username %></p>
        <% } %>
        <p> <%= currentUser.username %> </p>
    </div>
    <div class="item">
        People under draft category:<br>
        <% for (i = 0; i < hotel.draft.length; i++) { %>
            <p><%= hotel.draft[i].username %></p>
        <% } %>
    </div>
    <div class="item">
        People visited:<br>
        <% for (i = 0; i < hotel.done.length; i++) { %>
            <p><%= hotel.done[i].username %></p>
        <% } %>
    </div>
    
    </div>
    
    
    
    
    
<% include ../partials/footer %>